mixin CtaCommon
  .p-5.bg-primary.rounded-3&attributes(attributes)
    div.py-3
      h4.opacity-50.ls-2.lh-base.fw-medium READY TO START
      h2.mt-3.fs-4.fs-sm-7.latter-sp-3.lh-base.fw-semi-bold Start Your Free Trail Today 
    .flex-center.d-flex
      button.btn.btn-info Get Started   
        span.fas.fa-arrow-right