mixin FooterCta
  +Section.mb-5
    .px-2
      .row.flex-center.bg-primary.rounded-3.py-5.text-center.text-lg-start.px-lg-5
        .col-lg-8
          h4.opacity-50.ls-2.lh-base.fw-medium READY TO START
          h2.mt-3.fs-5.fs-sm-7.latter-sp-3.lh-base.fw-semi-bold Start Your Free Trail Today
        .col-lg-4.mt-3.mt-lg-0.flex-center.justify-content-lg-end
          button.btn.btn-info.px-4.py-3 Get Started  
            img(src=`${CWD}assets/img/gallery/button-arrow.png`)