mixin HeroHeader
  +Section.pb-md-0
    .row.d-flex.justify-content-xl-around
      .col-xl-5.col-sm-8.ps-xl-5
        h1.display-3.lh-sm Landing Template for Startups
      .col-xl-4.col-sm-9.px-xl-5.d-flex.align-items-center
        .d-flex.flex-column
          div
            p.lh-base.fs-2.text-500.ls-2 Our landing page template works on all devices, so you only have to set it up once, and get beautiful results forever.
          div
            button.btn.btn-primary.px-4.py-3.mt-3 Pricing and Plans