mixin HeroHeader
  +Section.pb-lg-0.mt-6
    .row.justify-content-xl-evenly.align-items-center
      .col-md-9.col-lg-8.col-xl-5.ps-xl-5
        h1.display-3.lh-sm Landing Template for Startups
      .col-md-9.col-xl-5.px-xl-5
        p.fs-2 Our landing page template works on all devices, and browsers, so you only have to set it up once, and get beautiful results forever.
        button.btn.btn-primary.mt-3 Pricing and Plans