mixin HeroHeader
  +Section.pb-md-0
    .row.d-flex.justify-content-xl-evenly
      .col-md-9.col-lg-8.col-xl-5.ps-xl-5
        h1.display-3.lh-sm Landing Template for Startups
      .col-md-9.col-lg-9.col-xl-5.px-xl-5.d-flex.align-items-center
        .d-flex.flex-column
          div
            p.lh-base.fs-2.text-500.ls-2.pe-xl-4 Our landing page template works on all devices, so you only have to set it up once, and get beautiful results forever.
          div
            button.btn.btn-primary.mt-3 Pricing and Plans