append variables
  -
    const Plans = [
      {
        name: 'FREE',
        price: 0,
        items: [
          '7,000,000+ Events',
          '4 Custom Domains',
          'Dedicated Support ',
          '12 Months History',
          '1 Dedicated SSL',
        ],
        class: 'mt-md-9'
      },
      {
        name: 'BASIC',
        price: 23,
        items: [
          '7,000,000+ Events',
          '4 Custom Domains',
          'Dedicated Support ',
          '12 Months History',
          '1 Dedicated SSL',
        ],
        class: 'mt-0'
      },
      {
        name: 'PREMIUM',
        price: 59,
        items: [
          '7,000,000+ Events',
          '4 Custom Domains',
          'Dedicated Support ',
          '12 Months History',
          '1 Dedicated SSL',
        ],
        class: 'mt-md-9'
    },
    ]
  -
    var intro = {
      title: 'Pricing',
      description: 'SAFLOW'
    }
mixin Pricing
  +Section('container-lg')
    +SectionTitle(intro)
    .row.flex-center
      each item in Plans
        .col-sm-9.col-md-4.mt-3
          .py-5.px-4.px-md-3.px-lg-4.rounded-1.bg-800.plans-cards(class = `${item.class}`)
            p.fs-2.ls-2 #{item.name}
            h1.display-4.ls-3
              span.text-600 $
              |#{item.price}
            hr.hr.mt-6.text-1000
            ul.mt-5.ps-0
              each i in item.items
                li.pricing-lists
                  i.fas.fa-check-circle.fa-lg.me-2.text-600
                  | #{i}
            button.btn.btn-gray.mt-4 Get Started 
              span.fas.fa-arrow-right

