mixin Navbar
  nav.navbar.navbar-light.sticky-top(data-navbar-darken-on-scroll="900")
    .container.pt-2
      a.navbar-brand(href='/#') 
        img(src=`${CWD}assets/img/gallery/logo.png`)
      .navbar-nav.ms-auto
        button.btn.btn-secondary Login
