mixin Navbar
  nav.navbar.navbar-expand-lg.navbar-dark
    .container.py-4
      a.navbar-brand(href='/#') 
        img(src=`${CWD}assets/img/gallery/logo.png`)
      .navbar-nav.ms-auto
        bytton.btn.btn-secondary.px-4.py-3 Login
