
$theme-black: #070E27;

// button 
@media only screen and (min-width: 600px) {
    .hero-title{
        font-size: 64px;
        line-height: 80px;
        letter-spacing: -0.03em;
        font-weight: bold;
        color: #fff;
    }
  }
  @media only screen and (min-width: 992px) {
    #plans1, #plans3{
        margin-top: 140px;
    }
  }

.hr{
    background: #4E5A85;
    opacity: .2;
    height: 1px;
}

// pricings

.plans-cards {

    li{
        list-style: none;
        margin-top: 18px;
        font-size: 16px;
        align-items: center;
    }
    li::before {
        content: url('https://i.ibb.co/qYpS2qt/check-icon.png'); 
        margin-right: 10px; 
        align-items: center;
      }
      
      @media only screen and (max-width: 992px) and (min-width: 768px) {
        .small-item{
            font-size: 14px;
          }
      }
}
.plans-cards:hover{
    background-color: #162044 !important;
}
footer{
    background: #162044;
    color: #CCD2E9;
    font-size: 14px;
    line-height: 24px
}
// swiper css
.swiper-container {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
   
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }
  .swiper-pagination-bullet {
    
    border-radius: 50%;
    background: #fff !important;
    opacity: .2;
}